@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 12 43% 99%;
    --foreground: 12 66% 5%;
    --muted: 12 30% 92%;
    --muted-foreground: 12 14% 25%;
    --popover: 12 43% 98%;
    --popover-foreground: 12 66% 4%;
    --card: 12 43% 98%;
    --card-foreground: 12 66% 4%;
    --border: 12 14% 91%;
    --input: 12 14% 91%;
    --primary: 12 95% 65%;
    --primary-foreground: 12 95% 5%;
    --secondary: 12 15% 84%;
    --secondary-foreground: 12 15% 24%;
    --accent: 12 24% 77%;
    --accent-foreground: 12 24% 17%;
    --destructive: 0 82% 39%;
    --destructive-foreground: 0 82% 99%;
    --ring: 12 95% 65%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 12 44% 3%;
    --foreground: 12 30% 97%;
    --muted: 12 30% 8%;
    --muted-foreground: 12 14% 75%;
    --popover: 12 44% 4%;
    --popover-foreground: 12 30% 98%;
    --card: 12 44% 4%;
    --card-foreground: 12 30% 98%;
    --border: 12 14% 11%;
    --input: 12 14% 11%;
    --primary: 12 95% 65%;
    --primary-foreground: 12 95% 5%;
    --secondary: 12 10% 9%;
    --secondary-foreground: 12 10% 69%;
    --accent: 12 18% 16%;
    --accent-foreground: 12 18% 76%;
    --destructive: 0 82% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 12 95% 65%;
  }
}
